.container {
  width: 100%; }

header {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  height: 3.5rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: space-around; }
  header h1 {
    font-weight: 700;
    font-size: 2rem; }

.beats {
  background: #fff;
  margin: 2rem 0 8rem 0; }
  .beats h2 {
    margin: 2rem 0 0 4rem;
    font-size: 2rem; }
  .beats .beats__content {
    margin: 2rem 4rem 0 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 2rem; }
    .beats .beats__content a {
      text-decoration: none; }
    .beats .beats__content .beat {
      display: flex;
      flex-direction: column;
      height: 26rem;
      border-radius: 10px;
      align-items: center;
      box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 0.25); }
      @media (max-width: 1600px) {
        .beats .beats__content .beat {
          height: 22rem; } }
      .beats .beats__content .beat img {
        margin: 1rem 2rem 0 2rem;
        width: 14rem;
        height: 14rem;
        border-radius: 10px; }
      .beats .beats__content .beat .beat__text {
        text-align: center;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        color: #000;
        font-size: 1.25rem; }
        .beats .beats__content .beat .beat__text .beat__text__name {
          font-weight: 700; }
        .beats .beats__content .beat .beat__text .beat__text__author {
          color: #767676;
          margin-top: 2.5rem;
          font-size: 1rem; }
    .beats .beats__content .link {
      background-color: #000;
      color: #fff;
      grid-area: 2/2/2/4;
      text-align: center;
      border-radius: 10px;
      text-decoration: none;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 1.25rem; }

.soundkits {
  background: #fff;
  margin: 2rem 0 1rem 0; }
  .soundkits h2 {
    margin: 2rem 0 0 4rem;
    font-size: 2rem;
    height: 2rem; }
  .soundkits .soundkits__content {
    margin: 2rem 4rem 0 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 2rem; }
    .soundkits .soundkits__content a {
      text-decoration: none; }
    .soundkits .soundkits__content .soundkit {
      display: flex;
      flex-direction: column;
      height: 30rem;
      border-radius: 10px;
      align-items: center;
      box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 0.25); }
      @media (max-width: 1600px) {
        .soundkits .soundkits__content .soundkit {
          height: 26rem; } }
      .soundkits .soundkits__content .soundkit audio {
        margin-top: 1rem;
        background-color: #000;
        border-radius: 10px;
        width: 18rem; }
        @media (max-width: 1600px) {
          .soundkits .soundkits__content .soundkit audio {
            width: 14rem; } }
      .soundkits .soundkits__content .soundkit img {
        margin: 1rem 2rem 0 2rem;
        width: 14rem;
        height: 14rem;
        border-radius: 10px; }
        @media (max-width: 1600px) {
          .soundkits .soundkits__content .soundkit img {
            width: 12rem;
            height: 12rem; } }
      .soundkits .soundkits__content .soundkit .soundkit__text {
        text-align: center;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        color: #000;
        font-size: 1.25rem; }
        .soundkits .soundkits__content .soundkit .soundkit__text .soundkit__text__name {
          font-weight: 700; }
          @media (max-width: 1600px) {
            .soundkits .soundkits__content .soundkit .soundkit__text .soundkit__text__name {
              font-size: 1rem; } }
        .soundkits .soundkits__content .soundkit .soundkit__text .soundkit__text__author {
          color: #767676;
          margin-top: 2.5rem;
          font-size: 1rem; }
    .soundkits .soundkits__content .link {
      background-color: #000;
      color: #fff;
      grid-area: 2/2/2/4;
      text-align: center;
      border-radius: 10px;
      text-decoration: none;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 1.25rem; }

footer {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  footer img {
    width: 4rem; }

/*# sourceMappingURL=dreamside.css.map */
